<html>
    <head>
        <title>Paul's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Paul's Django Blog</a></h1>
        </div>

        <div>
            <p>published: 02/20/2022, 11:55</p>
            <h2><a href="">My first post</a></h2>
            <p>Today is the day when I did my first ugly ass post, not just a post by the way, my first owned blog was deployed!</p>
        </div>

        <div>
            <p>published 02/20/2022, 11:59</p>
            <h2><a href="">My second post</a></h2>
            <p>Just made a couple posts so it looks like I at least tried, and I can show off in front of my friend Shanghai.</p>
    </body>
</html>
